@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

#main-header img{
    width: 100%;
    height: 100%;
}
.bg-black{
    background:rgb(22, 22, 22);
    color:#fff;
}

.container{
    box-shadow:10px 10px 30px #333;
}
#main-header .menu-item{
    width: 25%;

}

#main-header .menu-item:hover{
    opacity:0.8;
    cursor:pointer;
}

@media(min-width:1199px){
    #main-header .menu-item{
        padding:3em !important;
    }
    
}

@media(min-width:991px){
#main-header img{
    height:350px;
}
}

@media(min-width:1199px){
    #main-header img{
        height:440px;
    }
}